<div class="item">
    <input type="text" name="name">
    <input type="text" name="amount_formula">
    <input type="text" name="unit">
    <input type="text" name="price_formula">
    <input type="number" step=0.01 name="price_dry">
    <input type="number" step=0.01 name="price_wet">
    <input type="text" name="currency">
</div>