<div class="item">
    <input type="text" name="name">
    <input type="text" name="label">
    <select name="required" multiple size="5"></select>
    <select name="additional" multiple size="5"></select>
</div>