<div class="item">
    <input type="text" name="name">
    <input type="text" name="label">
    <ul class="required" style="overflow: auto"></ul>
    <ul class="additional" style="overflow: auto"></ul>
</div>