{% extends "CalcCalcBundle:Show:base.html.twig" %}

{% block title %}Калькулятор стоимости{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/calccalc/css/calc.css') }}">
{% endblock %}

{%  block scripts %}
    <script type="application/javascript" src="{{ asset('bundles/calccalc/js/select2.full.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/calccalc/js/grid.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/calccalc/js/calc.js') }}"></script>
{% endblock %}
{% block header %}Калькулятор стоимости{% endblock %}

{% block content %}
    <form name="calc" method="post" enctype="application/x-www-form-urlencoded" action="javascript:submit(this)">
    {% block editor %}
        <fieldset id="config">
            <input type="checkbox" id="config-collapse" class="collapse" disabled checked>
            <legend><label for="config-collapse">Этажность</label></legend>
            <div class="block">
                <fieldset>
                    {% block floors_count %}
                        <input type="checkbox" id="floors-collapse" class="collapse" disabled checked>
                        <legend><label for="floors-collapse">Этажность</label></legend>
                        <div class="block">
                            <input type="radio" name="floors" value=1 id="floors-1" checked><label for="floors-1">Один</label>
                            <input type="radio" name="floors" value=1.5 id="floors-1-5"><label for="floors-1-5">Полтора</label>
                            <input type="radio" name="floors" value=2 id="floors-2"><label for="floors-2">Два</label>
                        </div>
                    {% endblock %}
                </fieldset>
                <fieldset>
                    {% block dimensions %}
                        <input type="checkbox" id="dimensions-collapse" class="collapse" disabled checked>
                        <legend><label for="dimensions-collapse">Габариты</label></legend>
                        <div class="block">
                            <label for="dimensions-length">Длина</label><input type="number" name="length" value=0 id="dimensions-length">м
                            <label for="dimensions-width">Ширина</label><input type="number" name="width" value=0 id="dimensions-width">м
                            <label for="dimensions-height">Высота помещений</label><input type="number" name="height" value=0 step=0.1 id="dimensions-height">м
                            <hr>
                            <label for="dimensions-area">Площадь</label><input type="number" name="area" value=0 step=0.1 id="dimensions-area" disabled>м<sup>2</sup>
                            <label for="dimensions-area-wet">Площадь влажных</label><input type="number" name="area-wet" value=0 step=0.1 id="dimensions-area-wet" disabled>м<sup>2</sup>
                            <label for="dimensions-external-r">Р внешний</label><input type="number" name="external-r" value=0 step=0.1 id="dimensions-external-r" disabled>м
                            <label for="dimensions-internal-r">Р внутренний</label><input type="number" name="internal-r" value=0 step=0.1 id="dimensions-internal-r" disabled>м
                            <label for="dimensions-wet-r">Р внешний</label><input type="number" name="wet-r" value=0 step=0.1 id="dimensions-wet-r" disabled>м
                        </div>
                    {% endblock %}
                </fieldset>
            </div>
        </fieldset>

        <fieldset id="parameters">
            <input type="checkbox" id="config-collapse" class="collapse" disabled checked>
            <legend><label for="config-collapse">Конфигурация</label></legend>
            <div class="block"></div>
        </fieldset>

        <button type="submit">Расчитать</button>
        {% endblock %}
    </form>

    <div class="test-grid" style="height: 400px;"></div>
    <script>
        /*
        const data = [];
        for (let i = 0; i < 1677680; i++) {
          data.push({ data: {id: i, name: `name_${i}`}});
        }
        const testGrid = $(document.body).find('.test-grid');
        new Grid(testGrid, ['id', 'name'], data, {
          rowHeight: 20,
          headerHeight: 25,
          templateRow: $('<div><span class="id"></span><span class="name"></span></div>')
        });*/
    </script>
{% endblock %}