{% extends "CalcCalcBundle:Show:fieldset.html.twig" %}
{% block data %}
    <section class="required">
        <h5>Обязательные опции</h5>
        <div></div>
        <span class="total">0</span>
    </section>
    <section class="additional">
        <h5>Дополнительные опции</h5>
        <div></div>
        <select name="">
            <option value="" disabled selected>Выберите опцию</option>
        </select>
        <button class="add">+</button>
        <span class="total">0</span>
    </section>
{% endblock %}