.elements .header {
    display: grid;
    grid-template-columns: 2fr 2fr 5fr 5fr;
    grid-template-rows: 25px;
}

.elements .item {
    display: grid;
    grid-template-columns: 2fr 2fr 5fr 5fr;
    grid-template-rows: 150px;
}

.options .header {
    display: grid;
    grid-template-columns: 5fr 5fr 2fr 5fr 3fr 3fr 2fr;
    grid-template-rows: 40px;
}

.options .item {
    display: grid;
    grid-template-columns: 5fr 5fr 2fr 5fr 3fr 3fr 2fr;
    grid-template-rows: 25px;
}

.item > * {
    display: block;
}

.select2-selection--multiple{
    overflow: hidden !important;
    height: 25px !important;
}